body {
  background: white;
  width:70%;
  margin:auto;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

p{
  color: black;
  text-align: center;
  height:150px;
  padding:50px;
  border-radius:20px;
  background-color:mediumturquoise;
  border:dotted 2px darkblue;
  font-weight: bold;
  font-family: monospace;
  color:darkslateblue;
  text-shadow: 5px 5px 8px;
}
img{
  width:500px
}
p{
  color: #34b7ad;
}
img{
  width:500px
}